<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServerConfig" type="App.Core.Configuration.ServerConfig, App.Core, Version=1.0.0.0, Culture=neutral" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <ServerConfig>
    <Installation DisableSampleDataDuringInstallation="False" UseFastInstallationService="False" />
  </ServerConfig>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>